<link rel="stylesheet" type="text/css" href="https://flex-fields.sandbox.splitit.com/css/splitit.flex-fields.min.css">

<div id="splitit-container" class="splitit-default-ui grouped">
    <div class="splitit-cc-group">
        <div id="card-number"></div>
        <div id="expiration-date"></div>
        <div id="cvv"></div>
        <div class="splitit-cc-group-separator"></div>
    </div>

    <div id="installment-picker"></div>
    <div id="error-box"></div>
    <div id="terms-conditions"></div>
    <button id="btn-pay"></button>
</div>


<script src="https://flex-fields.sandbox.splitit.com/js/dist/splitit.flex-fields.sdk.js"></script>
<script>
    var flexFields = Splitit.FlexFields.setup({
        container: "#splitit-container",
        publicToken: "<?=$publicToken?>",
        fields: {
            number: {
                selector: "#card-number"
            },
            cvv: {
                selector: "#cvv"
            },
            expirationDate: {
                selector: "#expiration-date"
            }
        },
        installmentPicker: {
            selector: "#installment-picker"
        },
        termsConditions: {
            selector: "#terms-conditions"
        },
        errorBox: {
            selector: "#error-box"
        },
        paymentButton: {
            selector: "#btn-pay"
        },
        billingAddress: {
            addressLine: "260 Madison Avenue.",
            addressLine2: "Appartment 1",
            city: "New York",
            state: "NY",
            country: "USA",
            zip: "10016"
        },
        consumerData: {
            fullName: "John Smith",
            email: "JohnS@splitit.com",
            phoneNumber: "1-844-775-4848",
            cultureName: "en-us"
        }
    }).ready(function () {
        // Splitit plugin ready, optionally do something here.
    }).onSuccess(function (result) {
        // Respond here if payment goes well.
        alert('Payment was successful! Check console for result details.');
        console.log(result);
    });

    function payWithSplitit(){
        flexFields.show();
    }

</script>
